 header h1{
     color: crimson;
     background-color: darkgrey;

 }
 header a{
 color: darksalmon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
 }

 main ul h1{
     color: crimson;
     background-color: darkkhaki;
 }
 header h2 {
     color: crimson;
     background-color: grey;
 }

 footer{
     color: red;
     
 }